%h1 Edit your To do
=form_for [@list, @task] do |f|
  %ul 
    %li
      =f.text_field :description, :placeholder => "To do"
    %li.tags
      =f.text_field :tag_list, :placeholder => "Tags"
    %li.notes
      =f.text_area :notes, :placeholder => "Notes"
  %p
    = link_to "Cancel", list_path(@list)
    = " | "
    = f.submit 
