@import "compass/reset"
@import "standard"
@import "mixins"

@import "compass/css3/box-shadow"

.task
  width: 100%
  list-style-type: none
  +box(white, white)
  +box-shadow(#333,1px,1px,2px)
  form.mark_complete
    display: inline
  img
    padding-left: 5px
    padding-right: 5px
  ul.tags
    display: inline
    float: right
    margin-top: 2px
    li
      display: inline
      list-style-type: none
      padding-right: 5px
      @include box(rgb(231,235,249),rgb(188,202,240), 7px, 4px, 0)

form.edit_task ul
  width: 100%
  +tags-bullet(14px, 14px, 20px, 25px)
  +notes-bullet(14px, 14px, 20px, 25px)
  input, textarea
    width: 100%
  input[type=submit]
    margin-left: 25px


.task.completed
  +box(#D1D4D9, #D1D4D9)
  +box-shadow(#D1D4D9,0px,0px,0px)


.task .notes
  display: none

form.new_task
  textarea
    width: 351px
    height: 40px
  input[type=text]
    width: 350px
  ul
    +tags-bullet(14px, 14px, 20px, 25px)
    +notes-bullet(14px, 14px, 20px, 25px)

.task .completed_on
  font-size: 50%
  margin-right: 1em
    
