@import "compass/reset"
@import "standard"
@import "mixins"

@import "compass/css3"

.task
  width: 100%
  list-style-type: none
  +box(white, white)
  +box-shadow(#333,1px,1px,2px)
  form.mark_complete
    display: inline
  img
    padding-left: 5px
    padding-right: 5px
ul.tags
  display: inline
  float: right
  margin-top: 2px
  li
    display: inline
    list-style-type: none
    padding-right: 5px
    @include box(rgb(231,235,249),rgb(188,202,240), 7px, 4px, 0)

ul#tasks
  margin-top: 15px
  li.ui-selected:not(.completed)
    +box(#E2EBFA, #E2EBFA)
  li.ui-selected.completed
    +box(#B7C2C6, #B7C2C6)
  li.ui-selecting:not(.completed)
    +box(#E2EBFA, #E2EBFA)
  li.ui-selecting.completed
    +box(#B7C2C6, #B7C2C6)

ul#tag_list
  display: inline
  margin-top: 2px
  li
    display: inline
    list-style-type: none
    padding-right: 5px
    @include box(rgb(231,235,249),rgb(188,202,240), 7px, 4px, 0)


form.edit_task ul
  width: 100%
  +tags-bullet(14px, 14px, 20px, 25px)
  +notes-bullet(14px, 14px, 20px, 25px)
  input, textarea
    width: 100%
  input[type=submit]
    margin-left: 25px


.task.completed
  +box(#D1D4D9, #D1D4D9)
  +box-shadow(#D1D4D9,0px,0px,0px)


.task .notes
  display: none

form.new_task
  textarea
    width: 351px
    height: 40px
  input[type=text]
    width: 350px
  ul
    +tags-bullet(14px, 14px, 20px, 25px)
    +notes-bullet(14px, 14px, 20px, 25px)

.task .completed_on
  font-size: 50%
  margin-right: 1em


#cal
  background: #e0e0e0
  +box-shadow(0px, 3px, 3px, rgba(0,0,0,0.25))
  margin: 50px auto
  font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif
  display: table
  .header
    cursor: default
    background: #cd310d
    +linear-gradient(color-stops(#b32b0c,#cd310d))
    height: 34px
    position: relative
    color: #fff
    +border-top-left-radius(5px)
    +border-top-right-radius(5px)
    font-weight: bold
    text-shadow: 0px -1px 0 #87260c
    text-transform: uppercase
    span
      display: inline-block
      line-height: 34px
    .hook
      width: 9px
      height: 28px
      position: absolute
      bottom: 60%
      +border-radius(10px)
      background: #ececec
      +linear-gradient(color-stops(#fff,#827e7d))
      +box-shadow(rgba(0,0,0,0.65), 0px, -1px, 2px)
      &.right
        right: 15%
      &.left
        left: 15%
    .button
      width: 24px
      text-align: center
      position: absolute
      &.left
        left: 0
        +border-top-left-radius(5px)
        border-right: 1px solid #ae2a0c
      &.right
        right: 0
        top: 0
        +border-top-right-radius(5px)
        border-left: 1px solid #ae2a0c
      &:hover
        +linear-gradient(color-stops(#d94215, #bb330f))
    .month-year
      letter-spacing: 1px
      width: 100%
      text-align: center
  table
    background: #fff
    border-collapse: collapse
  td
    color: #2b2b2b
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    border: 1px solid #e6e6e6
    cursor: default
  #days
    td
      height: 26px
      line-height: 26px
      text-transform: uppercase
      font-size: 90%
      color: #9e9e9e
      &:not(:last-child)
        border-right: 1px solid #fff
  #cal-frame
    td.today
      background: #ededed
      color: #8c8c8c
      +box-shadow(#fff, 1px, 1px, 0px, 0, inset)
    td:not(.nil):hover
      color: #fff
      text-shadow: #6c1a07 0px, -1px
      background: #cd310d
      +linear-gradient(color-stops(#b32b0c,#cd310d))
      +box-shadow(#fff, 0px, 0px, 0px)
    td span
      font-size: 80%
      position: relative
      &:first-child
        bottom: 5px
      &:last-child
        top: 5px
    table.curr
      float: left
    table.temp
      position: absolute


